flows.json
[{"id":"3daf8457.da2c44","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15d3b7fc.81fcb","type":"ui_form","z":"3daf8457.da2c44","name":"","label":"","group":"30eff737.1ddd","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":180,"wires":[["fe7307c6.6d80f8"]]},{"id":"fe7307c6.6d80f8","type":"function","z":"3daf8457.da2c44","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":100,"wires":[["cfe62083.72e11","a928b508.f40b8"]]},{"id":"8080acf8.376b3","type":"function","z":"3daf8457.da2c44","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["a017df7b.7adf88"]]},{"id":"cfe62083.72e11","type":"watson-conversation-v1","z":"3daf8457.da2c44","name":"Customer Care","workspaceid":"f687fe32-14c4-49e2-b9da-ebadfe009eec","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/1dd281fb-2498-4559-bca1-a2f2fb04f91b","timeout":"","optout-learning":false,"x":420,"y":40,"wires":[["c6383a5c.c04da8","8080acf8.376b3"]]},{"id":"a928b508.f40b8","type":"ui_text","z":"3daf8457.da2c44","group":"30eff737.1ddd","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":340,"y":300,"wires":[]},{"id":"c6383a5c.c04da8","type":"debug","z":"3daf8457.da2c44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":20,"wires":[]},{"id":"a017df7b.7adf88","type":"ui_text","z":"3daf8457.da2c44","group":"30eff737.1ddd","order":3,"width":20,"height":6,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":740,"y":300,"wires":[]},{"id":"30eff737.1ddd","type":"ui_group","z":"","name":"Chatbot","tab":"78f91010.2867e","order":1,"disp":true,"width":20,"collapse":false},{"id":"78f91010.2867e","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]